<%- include('../include/header') %>

<section class="container forms">
    <div class="form login">
        <div class="form-content">
            <header>Forget Password</header>
            
           
            <form action="/forget-password" method="post">
                
                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password" name="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <input type="hidden" name="user_id" value="<%= user_id %>">
                
                <%
            if(typeof message !=="undefined"){
               %>
               <p class="form-link" style="color: red;"><%= message %></p>
              <%
            }
          %>

                <div class="field button-field">
                    <button>Submit</button>
                </div>
            </form>

           

        

       

    </div>

    <!-- Signup Form -->

    
</section>

<!-- JavaScript -->
<script >
     const forms = document.querySelector(".forms"),
     pwShowHide = document.querySelectorAll(".eye-icon"),
     links = document.querySelectorAll(".link");

     pwShowHide.forEach(eyeIcon => {
     eyeIcon.addEventListener("click", () => {
     let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");

     pwFields.forEach(password => {
     if(password.type === "password"){
        password.type = "text";
        eyeIcon.classList.replace("bx-hide", "bx-show");
        return;
        }
      password.type = "password";
       eyeIcon.classList.replace("bx-show", "bx-hide");
})

})
})      

links.forEach(link => {
link.addEventListener("click", e => {
e.preventDefault(); //preventing form submit
forms.classList.toggle("show-signup");
})
})
</script>

<%- include('../include/footer') %>